<mat-card>

    <mat-form-field>
        <input
            type="number"
            matInput
            placeholder="Id"
            [(ngModel)]="id" />
    </mat-form-field>

    <mat-form-field>
      <input
            type="text"
            matInput
            placeholder="titulo"
            [(ngModel)]="titulo" />
    </mat-form-field>
  
    <mat-form-field>
      <input
            type="text"
            matInput
            placeholder="autor"
            [(ngModel)]="autor" />
    </mat-form-field>

    <mat-form-field>
      <input
            type="number"
            matInput
            placeholder="numero de páginas"
            [(ngModel)]="paginas" />
    </mat-form-field>

    <button color="primary" mat-raised-button (click)="onAdicionarLivro()">
      Cadastrar Livro
    </button>
  </mat-card>
  